In [1]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

In [2]:
def to_upper_case(df, col_name):
    df[col_name] = df[col_name].str.upper()
    return df

In [3]:
def to_lower_case(df, col_name):
    df[col_name] = df[col_name].str.lower()
    return df

In [4]:
def to_proper_case(df, col_name):
    df[col_name] = df[col_name].str.title()
    return df

In [5]:
# Call built-in function directly
def remove_duplicate_rows(df, subset=None):
    return df.drop_duplicates(subset=subset)

In [6]:
# df = pd.read_excel("hies_3a.xlsx")
df = pd.read_csv("titanic.csv", sep='\t')
# df.describe()
# (1 - df.count() / len(df))*100

In [7]:
# data = {"Name": ["James", "Alice", "Phil", "James"],
# 		"Age": [24, 28, 40, 24],
# 		"Sex": ["Male", "Female", "Male", "Male"]}
# df = pd.DataFrame(data)
# print(df.Age.mode())

In [8]:
# print(df['Age'].values.reshape(1, -1))
# print(len(df['Age']))
# print(df['Age'])

In [9]:
def impute_missing(df, col_name, strategy='mean', fill_value=None):
    """
    strategy must be one of: mean, median, most_frequent, constant
    if strategy is 'constant' then give fill_value kwarg the value
    """
    imp = SimpleImputer(strategy=strategy, fill_value=None)
    df[col_name] = imp.fit_transform(df[col_name].values.reshape(-1, 1))
    return df

In [10]:
print(impute_missing(df, 'Age'))

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
126          127         0       3
127          128         1       3
128          129         1       3
129          130         0       3
130          131         0       3
131          132         0       3
132          133         0       3
133          134         1       2
134          135         0       2
135          136         0       2
136          137         1       1
137          138         0       1
138          139         0       3
139          140         0       1
140          141         0       3
141          142         1       3
142          143         1       3
143          144         0       3
144          145         0       2
145          146         0       2
146          147         1       3
147          148         0       3
148          149         0       2
149          150         0       2
150          151         0       2
151          152         1       1
152          153         0       3
153          154         0       3
154          155         0       3
155          156         0       1

                                                  Name     Sex        Age  \
0                              Braund, Mr. Owen Harris    male  22.000000
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                               Heikkinen, Miss. Laina  female  26.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                             Allen, Mr. William Henry    male  35.000000
5                                     Moran, Mr. James    male  28.141508
6                              McCarthy, Mr. Timothy J    male  54.000000
7                       Palsson, Master. Gosta Leonard    male   2.000000
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.000000
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.000000
10                     Sandstrom, Miss. Marguerite Rut  female   4.000000
11                            Bonnell, Miss. Elizabeth  female  58.000000
12                      Saundercock, Mr. William Henry    male  20.000000
13                         Andersson, Mr. Anders Johan    male  39.000000
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.000000
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.000000
16                                Rice, Master. Eugene    male   2.000000
17                        Williams, Mr. Charles Eugene    male  28.141508
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.000000
19                             Masselmani, Mrs. Fatima  female  28.141508
20                                Fynney, Mr. Joseph J    male  35.000000
21                               Beesley, Mr. Lawrence    male  34.000000
22                         McGowan, Miss. Anna "Annie"  female  15.000000
23                        Sloper, Mr. William Thompson    male  28.000000
24                       Palsson, Miss. Torborg Danira  female   8.000000
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.000000
26                             Emir, Mr. Farred Chehab    male  28.141508
27                      Fortune, Mr. Charles Alexander    male  19.000000
28                       O'Dwyer, Miss. Ellen "Nellie"  female  28.141508
29                                 Todoroff, Mr. Lalio    male  28.141508
..                                                 ...     ...        ...
126                                McMahon, Mr. Martin    male  28.141508
127                          Madsen, Mr. Fridtjof Arne    male  24.000000
128                                  Peter, Miss. Anna  female  28.141508
129                                 Ekstrom, Mr. Johan    male  45.000000
130                               Drazenoic, Mr. Jozef    male  33.000000
131                     Coelho, Mr. Domingos Fernandeo    male  20.000000
132     Robins, Mrs. Alexander A (Grace Charity Laury)  female  47.000000
133      Weisz, Mrs. Leopold (Mathilde Francoise Pede)  female  29.000000
134                     Sobey, Mr. Samuel James Hayden    male  25.000000
135                                 Richard, Mr. Emile    male  23.000000
136                       Newsom, Miss. Helen Monypeny  female  19.000000
137                        Futrelle, Mr. Jacques Heath    male  37.000000
138                                Osen, Mr. Olaf Elon    male  16.000000
139                                 Giglio, Mr. Victor    male  24.000000
140                      Boulos, Mrs. Joseph (Sultana)  female  28.141508
141                           Nysten, Miss. Anna Sofia  female  22.000000
142  Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...  female  24.000000
143                                Burke, Mr. Jeremiah    male  19.000000
144                         Andrew, Mr. Edgardo Samuel    male  18.000000
145                       Nicholls, Mr. Joseph Charles    male  19.000000
146       Andersson, Mr. August Edvard ("Wennerstrom")    male  27.000000
147                   Ford, Miss. Robina Maggie "Ruby"  female   9.000000
148           Navratil, Mr. Michel ("Louis M Hoffman")    male  36.500000
149                  Byles, Rev. Thomas Roussel Davids    male  42.000000
150                         Bateman, Rev. Robert James    male  51.000000
151                  Pears, Mrs. Thomas (Edith Wearne)  female  22.000000
152                                   Meo, Mr. Alfonzo    male  55.500000
153                    van Billiard, Mr. Austin Blyler    male  40.500000
154                              Olsen, Mr. Ole Martin    male  28.141508
155                        Williams, Mr. Charles Duane    male  51.000000

     SibSp  Parch              Ticket      Fare        Cabin Embarked
0        1      0           A/5 21171    7.2500          NaN        S
1        1      0            PC 17599   71.2833          C85        C
2        0      0    STON/O2. 3101282    7.9250          NaN        S
3        1      0              113803   53.1000         C123        S
4        0      0              373450    8.0500          NaN        S
5        0      0              330877    8.4583          NaN        Q
6        0      0               17463   51.8625          E46        S
7        3      1              349909   21.0750          NaN        S
8        0      2              347742   11.1333          NaN        S
9        1      0              237736   30.0708          NaN        C
10       1      1             PP 9549   16.7000           G6        S
11       0      0              113783   26.5500         C103        S
12       0      0           A/5. 2151    8.0500          NaN        S
13       1      5              347082   31.2750          NaN        S
14       0      0              350406    7.8542          NaN        S
15       0      0              248706   16.0000          NaN        S
16       4      1              382652   29.1250          NaN        Q
17       0      0              244373   13.0000          NaN        S
18       1      0              345763   18.0000          NaN        S
19       0      0                2649    7.2250          NaN        C
20       0      0              239865   26.0000          NaN        S
21       0      0              248698   13.0000          D56        S
22       0      0              330923    8.0292          NaN        Q
23       0      0              113788   35.5000           A6        S
24       3      1              349909   21.0750          NaN        S
25       1      5              347077   31.3875          NaN        S
26       0      0                2631    7.2250          NaN        C
27       3      2               19950  263.0000  C23 C25 C27        S
28       0      0              330959    7.8792          NaN        Q
29       0      0              349216    7.8958          NaN        S
..     ...    ...                 ...       ...          ...      ...
126      0      0              370372    7.7500          NaN        Q
127      0      0             C 17369    7.1417          NaN        S
128      1      1                2668   22.3583        F E69        C
129      0      0              347061    6.9750          NaN        S
130      0      0              349241    7.8958          NaN        C
131      0      0  SOTON/O.Q. 3101307    7.0500          NaN        S
132      1      0           A/5. 3337   14.5000          NaN        S
133      1      0              228414   26.0000          NaN        S
134      0      0          C.A. 29178   13.0000          NaN        S
135      0      0       SC/PARIS 2133   15.0458          NaN        C
136      0      2               11752   26.2833          D47        S
137      1      0              113803   53.1000         C123        S
138      0      0                7534    9.2167          NaN        S
139      0      0            PC 17593   79.2000          B86        C
140      0      2                2678   15.2458          NaN        C
141      0      0              347081    7.7500          NaN        S
142      1      0    STON/O2. 3101279   15.8500          NaN        S
143      0      0              365222    6.7500          NaN        Q
144      0      0              231945   11.5000          NaN        S
145      1      1          C.A. 33112   36.7500          NaN        S
146      0      0              350043    7.7958          NaN        S
147      2      2          W./C. 6608   34.3750          NaN        S
148      0      2              230080   26.0000           F2        S
149      0      0              244310   13.0000          NaN        S
150      0      0         S.O.P. 1166   12.5250          NaN        S
151      1      0              113776   66.6000           C2        S
152      0      0          A.5. 11206    8.0500          NaN        S
153      0      2            A/5. 851   14.5000          NaN        S
154      0      0           Fa 265302    7.3125          NaN        S
155      0      1            PC 17597   61.3792          NaN        C

[156 rows x 12 columns]