In [1]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

In [2]:
def to_upper_case(df, col_name):
    df[col_name] = df[col_name].str.upper()
    return df

In [3]:
def to_lower_case(df, col_name):
    df[col_name] = df[col_name].str.lower()
    return df

In [4]:
def to_proper_case(df, col_name):
    df[col_name] = df[col_name].str.title()
    return df

In [5]:
# Call built-in function directly
def remove_duplicate_rows(df, subset=None):
    return df.drop_duplicates(subset=subset)

In [6]:
# def fill_missing(df, col_name, fill_with, value=0):
#     if fill_with == "value":
#         df[col_name] = df[col_name].fillna(value=value, axis=1)
#     elif fill_with == "mean":
#         df[col_name] = df[col_name].fillna(df[col_name].mean(), axis=1)
#     elif fill_with == "mode":
#         df[col_name] = df[col_name].fillna(df[col_name].mean(), axis=1)
#     elif

In [7]:
# df = pd.read_excel("hies_3a.xlsx")
df = pd.read_csv("titanic.csv", sep='\t')
# df.describe()
# (1 - df.count() / len(df))*100

In [8]:
# data = {"Name": ["James", "Alice", "Phil", "James"],
# 		"Age": [24, 28, 40, 24],
# 		"Sex": ["Male", "Female", "Male", "Male"]}
# df = pd.DataFrame(data)
# print(df.Age.mode())

In [40]:
# print(df['Age'].values.reshape(1, -1))
print(len(df['Age']))
print(df['Age'])

156
0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5       NaN
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17      NaN
18     31.0
19      NaN
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26      NaN
27     19.0
28      NaN
29      NaN
       ...
126     NaN
127    24.0
128     NaN
129    45.0
130    33.0
131    20.0
132    47.0
133    29.0
134    25.0
135    23.0
136    19.0
137    37.0
138    16.0
139    24.0
140     NaN
141    22.0
142    24.0
143    19.0
144    18.0
145    19.0
146    27.0
147     9.0
148    36.5
149    42.0
150    51.0
151    22.0
152    55.5
153    40.5
154     NaN
155    51.0
Name: Age, Length: 156, dtype: float64

In [68]:
# Strategy: One of 
def impute_missing(df, col_name, strategy='mean', fill_value=None):
    """strategy must be one of: mean, median, most_frequent, constant"""
    imp = SimpleImputer(strategy=strategy, fill_value=None)
    df[col_name] = imp.fit_transform(df[col_name].values.reshape(-1, 1))
    return df

In [69]:
print(impute_missing(df, 'Age'))

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
126          127         0       3
127          128         1       3
128          129         1       3
129          130         0       3
130          131         0       3
131          132         0       3
132          133         0       3
133          134         1       2
134          135         0       2
135          136         0       2
136          137         1       1
137          138         0       1
138          139         0       3
139          140         0       1
140          141         0       3
141          142         1       3
142          143         1       3
143          144         0       3
144          145         0       2
145          146         0       2
146          147         1       3
147          148         0       3
148          149         0       2
149          150         0       2
150          151         0       2
151          152         1       1
152          153         0       3
153          154         0       3
154          155         0       3
155          156         0       1

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
5                                     Moran, Mr. James    male  26.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
12                      Saundercock, Mr. William Henry    male  20.0      0
13                         Andersson, Mr. Anders Johan    male  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                                Rice, Master. Eugene    male   2.0      4
17                        Williams, Mr. Charles Eugene    male  26.0      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                             Masselmani, Mrs. Fatima  female  26.0      0
20                                Fynney, Mr. Joseph J    male  35.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
22                         McGowan, Miss. Anna "Annie"  female  15.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
26                             Emir, Mr. Farred Chehab    male  26.0      0
27                      Fortune, Mr. Charles Alexander    male  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"  female  26.0      0
29                                 Todoroff, Mr. Lalio    male  26.0      0
..                                                 ...     ...   ...    ...
126                                McMahon, Mr. Martin    male  26.0      0
127                          Madsen, Mr. Fridtjof Arne    male  24.0      0
128                                  Peter, Miss. Anna  female  26.0      1
129                                 Ekstrom, Mr. Johan    male  45.0      0
130                               Drazenoic, Mr. Jozef    male  33.0      0
131                     Coelho, Mr. Domingos Fernandeo    male  20.0      0
132     Robins, Mrs. Alexander A (Grace Charity Laury)  female  47.0      1
133      Weisz, Mrs. Leopold (Mathilde Francoise Pede)  female  29.0      1
134                     Sobey, Mr. Samuel James Hayden    male  25.0      0
135                                 Richard, Mr. Emile    male  23.0      0
136                       Newsom, Miss. Helen Monypeny  female  19.0      0
137                        Futrelle, Mr. Jacques Heath    male  37.0      1
138                                Osen, Mr. Olaf Elon    male  16.0      0
139                                 Giglio, Mr. Victor    male  24.0      0
140                      Boulos, Mrs. Joseph (Sultana)  female  26.0      0
141                           Nysten, Miss. Anna Sofia  female  22.0      0
142  Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...  female  24.0      1
143                                Burke, Mr. Jeremiah    male  19.0      0
144                         Andrew, Mr. Edgardo Samuel    male  18.0      0
145                       Nicholls, Mr. Joseph Charles    male  19.0      1
146       Andersson, Mr. August Edvard ("Wennerstrom")    male  27.0      0
147                   Ford, Miss. Robina Maggie "Ruby"  female   9.0      2
148           Navratil, Mr. Michel ("Louis M Hoffman")    male  36.5      0
149                  Byles, Rev. Thomas Roussel Davids    male  42.0      0
150                         Bateman, Rev. Robert James    male  51.0      0
151                  Pears, Mrs. Thomas (Edith Wearne)  female  22.0      1
152                                   Meo, Mr. Alfonzo    male  55.5      0
153                    van Billiard, Mr. Austin Blyler    male  40.5      0
154                              Olsen, Mr. Ole Martin    male  26.0      0
155                        Williams, Mr. Charles Duane    male  51.0      0

     Parch              Ticket      Fare        Cabin Embarked
0        0           A/5 21171    7.2500          NaN        S
1        0            PC 17599   71.2833          C85        C
2        0    STON/O2. 3101282    7.9250          NaN        S
3        0              113803   53.1000         C123        S
4        0              373450    8.0500          NaN        S
5        0              330877    8.4583          NaN        Q
6        0               17463   51.8625          E46        S
7        1              349909   21.0750          NaN        S
8        2              347742   11.1333          NaN        S
9        0              237736   30.0708          NaN        C
10       1             PP 9549   16.7000           G6        S
11       0              113783   26.5500         C103        S
12       0           A/5. 2151    8.0500          NaN        S
13       5              347082   31.2750          NaN        S
14       0              350406    7.8542          NaN        S
15       0              248706   16.0000          NaN        S
16       1              382652   29.1250          NaN        Q
17       0              244373   13.0000          NaN        S
18       0              345763   18.0000          NaN        S
19       0                2649    7.2250          NaN        C
20       0              239865   26.0000          NaN        S
21       0              248698   13.0000          D56        S
22       0              330923    8.0292          NaN        Q
23       0              113788   35.5000           A6        S
24       1              349909   21.0750          NaN        S
25       5              347077   31.3875          NaN        S
26       0                2631    7.2250          NaN        C
27       2               19950  263.0000  C23 C25 C27        S
28       0              330959    7.8792          NaN        Q
29       0              349216    7.8958          NaN        S
..     ...                 ...       ...          ...      ...
126      0              370372    7.7500          NaN        Q
127      0             C 17369    7.1417          NaN        S
128      1                2668   22.3583        F E69        C
129      0              347061    6.9750          NaN        S
130      0              349241    7.8958          NaN        C
131      0  SOTON/O.Q. 3101307    7.0500          NaN        S
132      0           A/5. 3337   14.5000          NaN        S
133      0              228414   26.0000          NaN        S
134      0          C.A. 29178   13.0000          NaN        S
135      0       SC/PARIS 2133   15.0458          NaN        C
136      2               11752   26.2833          D47        S
137      0              113803   53.1000         C123        S
138      0                7534    9.2167          NaN        S
139      0            PC 17593   79.2000          B86        C
140      2                2678   15.2458          NaN        C
141      0              347081    7.7500          NaN        S
142      0    STON/O2. 3101279   15.8500          NaN        S
143      0              365222    6.7500          NaN        Q
144      0              231945   11.5000          NaN        S
145      1          C.A. 33112   36.7500          NaN        S
146      0              350043    7.7958          NaN        S
147      2          W./C. 6608   34.3750          NaN        S
148      2              230080   26.0000           F2        S
149      0              244310   13.0000          NaN        S
150      0         S.O.P. 1166   12.5250          NaN        S
151      0              113776   66.6000           C2        S
152      0          A.5. 11206    8.0500          NaN        S
153      2            A/5. 851   14.5000          NaN        S
154      0           Fa 265302    7.3125          NaN        S
155      1            PC 17597   61.3792          NaN        C

[156 rows x 12 columns]