In [62]:
import pandas as pd

def audit_report(df):
    print("**************************AUDIT REPORT***********************")
    print ("-----------------Number of Columns--------------------------")
    print(len(df.columns))
    print ("-----------------Number of Records--------------------------")
    print(len(df.index))
    print ("-----------------Columns Data Types-------------------------")
    print(df.dtypes)
    print ("-----------------Number of Missing cells--------------------")
    print(df.isnull().sum())
    print ("-----------------Number of duplicate rows--------------------")    
    print(df.duplicated().sum())
    print ("-----------------Memory Taken By Dataframe-------------------") 
    print((df.memory_usage(deep=True).sum())/1048576, "MB" )
    print ("-----------------------Warning-------------------------------")
    print("Max missing values are in column:",df.count().idxmin())
    print ("-------------------Range of columns--------------------------")
    print(df.describe().loc[['max','min']])
    print("--------------------Unique Classes in columns-----------------")
    for i in df:
        if(df[i].dtypes=="object"):
            print( df[i].unique())
        
    return;

In [97]:
def main_function():
    user_file_name = "C:/Users/Zohran/Documents/R/sec_b.xlsx"#input("Enter full file path")
    df = pd.read_excel(user_file_name)
    print(df.shape)
    audit_report(df)
    merge_columns(df, "province", "region")
    return;

In [98]:
main_function()

(513961, 20)
**************************AUDIT REPORT***********************
-----------------Number of Columns--------------------------
20
-----------------Number of Records--------------------------
513961
-----------------Columns Data Types-------------------------
hhcode        int64
psu           int64
province     object
region       object
district     object
sec          object
idc           int64
sbq02        object
sbq03        object
sbq04        object
sbq05        object
sbq61         int64
sbq62         int64
sbq63         int64
age           int64
sbq07        object
sbq08       float64
sbq09         int64
sbq10         int64
sbq11        object
dtype: object
-----------------Number of Missing cells--------------------
hhcode           0
psu              0
province         0
region           0
district         0
sec              0
idc              0
sbq02            0
sbq03        78642
sbq04            0
sbq05            0
sbq61            0
sbq62            0
sbq63            0
age              0
sbq07            0
sbq08       321765
sbq09            0
sbq10            0
sbq11            0
dtype: int64
-----------------Number of duplicate rows--------------------
16
-----------------Memory Taken By Dataframe-------------------
358.49631690979004 MB
-----------------------Warning-------------------------------
Max missing values are in column: sbq08
-------------------Range of columns--------------------------
           hhcode         psu   idc   sbq61  sbq62  sbq63   age  sbq08  sbq09  \
max  6.112301e+09  61123008.0  60.0  2015.0   12.0   31.0  99.0   99.0   99.0
min  1.111000e+09  11110001.0   1.0  1894.0    0.0    0.0   0.0    1.0    1.0

     sbq10
max   99.0
min    1.0
--------------------Unique Classes in columns-----------------
['kp' 'punjab' 'sindh' 'balochistan']
['rural' 'urban']
['chitral' 'upper dir' 'lower dir' 'swat' 'shangla' 'buner' 'malakand'
 'kohistan' 'mansehra' 'batagram' 'abbottabad' 'haripur' 'tor ghar'
 'mardan' 'swabi' 'charsadda' 'peshawar' 'nowshera' 'kohat' 'hangu'
 'karak' 'bannu' 'lakki marwat' 'd. i. khan' 'tank' 'attock' 'rawalpindi'
 'jhelum' 'chakwal' 'sargodha' 'bhakkar' 'khushab' 'mianwali' 'faisalabad'
 'chiniot' 'jhang' 't.t. singh' 'gujranwala' 'hafizabad' 'gujrat'
 'mandi bahauddin' 'sialkot' 'narowal' 'lahore' 'kasur' 'sheikhupura'
 'nankana sahib' 'okara' 'sahiwal' 'pakpattan' 'vehari' 'multan' 'lodhran'
 'khanewal' 'd. g. khan' 'rajanpur' 'layyah' 'muzaffargarh' 'bahawalpur'
 'bahawalnagar' 'rahim yar khan' 'jacobabad' 'kashmore' 'shikarpur'
 'larkana' 'shahdadkot' 'sukkur' 'ghotki' 'khairpur' 'naushahro feroze'
 'shaheed benazir abad' 'dadu' 'jamshoro' 'hyderabad' 'tando allah yar'
 'tando mohammad khan' 'matiari' 'badin' 'thatta' 'sujawal' 'sanghar'
 'mirpur khas' 'umer kot' 'tharparkar' 'karachi' 'quetta' 'pishin'
 'killa abdullah' 'chagai' 'nushki' 'loralai' 'barkhan' 'musakhel'
 'killa saifullah' 'zhob' 'sheerani' 'sibbi' 'harnai' 'ziarat' 'kohlu'
 'dera bugti' 'bolan/ kachhi' 'jaffarabad' 'nasirabad/ tamboo'
 'jhal magsi' 'kalat' 'mastung' 'khuzdar' 'awaran' 'kharan' 'washuk'
 'lasbela' 'gwadar' 'islamabad']
['00B']
['head' 'spouse' 'son/daughter' 'son/daughter-in-law' 'grand child'
 'brother/sister-in-law' 'nephew\\niece' 'father/mother' 'brother\\sister'
 'uncle/aunty' 'father/mother-in-law' 'others' 'grand father/mother'
 'servants/their relatives']
[nan 'family elder' 'main provider away for work' 'main economic provider'
 'is oldest male in the house?' 'others']
['male' 'female']
['present' 'temporarily absent at the time of enumeration']
['currently married' 'unmarried/never married' 'widow/widower'
 'nikah has been solemnised but the rukhsati has  not taken place'
 'divorced']
['yes' 'no']
0    kprural
1    kprural
2    kprural
3    kprural
4    kprural
Name: concatenated, dtype: object

,hhcode,psu,province,region,district,sec,idc,sbq02,sbq03,sbq04,...,sbq61,sbq62,sbq63,age,sbq07,sbq08,sbq09,sbq10,sbq11,concatenated
0,1111000101,11110001,kp,rural,chitral,00B,1,head,NaN,male,...,1933,0,0,81,currently married,2.0,98,98,yes,kprural
1,1111000101,11110001,kp,rural,chitral,00B,2,spouse,family elder,female,...,1944,0,0,70,currently married,1.0,98,98,yes,kprural
2,1111000101,11110001,kp,rural,chitral,00B,3,son/daughter,family elder,male,...,1970,0,0,44,currently married,4.0,1,2,yes,kprural
3,1111000101,11110001,kp,rural,chitral,00B,4,son/daughter-in-law,family elder,female,...,1977,0,0,37,currently married,3.0,99,99,yes,kprural
4,1111000101,11110001,kp,rural,chitral,00B,5,grand child,family elder,male,...,2002,0,0,12,unmarried/never married,NaN,3,4,yes,kprural
5,1111000102,11110001,kp,rural,chitral,00B,1,head,NaN,male,...,1950,0,0,64,currently married,2.0,98,98,yes,kprural
6,1111000102,11110001,kp,rural,chitral,00B,2,spouse,main provider away for work,female,...,1959,0,0,55,currently married,1.0,98,98,yes,kprural
7,1111000102,11110001,kp,rural,chitral,00B,3,son/daughter,main provider away for work,male,...,1997,0,0,17,unmarried/never married,NaN,1,2,yes,kprural
8,1111000102,11110001,kp,rural,chitral,00B,4,son/daughter-in-law,main provider away for work,female,...,1983,0,0,31,currently married,99.0,99,99,yes,kprural
9,1111000102,11110001,kp,rural,chitral,00B,5,grand child,main provider away for work,male,...,2007,3,10,7,unmarried/never married,NaN,99,4,yes,kprural
10,1111000102,11110001,kp,rural,chitral,00B,6,grand child,main provider away for work,male,...,2009,7,16,5,unmarried/never married,NaN,99,4,yes,kprural
11,1111000102,11110001,kp,rural,chitral,00B,7,grand child,main provider away for work,female,...,2012,9,1,2,unmarried/never married,NaN,99,4,yes,kprural
12,1111000103,11110001,kp,rural,chitral,00B,1,head,NaN,male,...,1968,0,0,46,currently married,2.0,99,99,yes,kprural
13,1111000103,11110001,kp,rural,chitral,00B,2,spouse,main economic provider,female,...,1974,0,0,40,currently married,1.0,98,99,yes,kprural
14,1111000103,11110001,kp,rural,chitral,00B,3,son/daughter,main economic provider,male,...,1997,0,0,17,unmarried/never married,NaN,1,2,yes,kprural
15,1111000103,11110001,kp,rural,chitral,00B,4,son/daughter,main economic provider,female,...,2002,0,0,12,unmarried/never married,NaN,1,2,yes,kprural
16,1111000103,11110001,kp,rural,chitral,00B,5,son/daughter,main economic provider,male,...,2004,0,0,10,unmarried/never married,NaN,1,2,yes,kprural
17,1111000103,11110001,kp,rural,chitral,00B,6,son/daughter,main economic provider,female,...,2008,8,10,6,unmarried/never married,NaN,1,2,yes,kprural
18,1111000103,11110001,kp,rural,chitral,00B,7,son/daughter,main economic provider,male,...,2006,6,14,8,unmarried/never married,NaN,1,2,yes,kprural
19,1111000104,11110001,kp,rural,chitral,00B,1,head,NaN,male,...,1983,0,0,31,unmarried/never married,NaN,5,98,yes,kprural
20,1111000104,11110001,kp,rural,chitral,00B,2,brother/sister-in-law,main provider away for work,female,...,1987,0,0,27,currently married,99.0,99,99,yes,kprural
21,1111000104,11110001,kp,rural,chitral,00B,3,nephew\niece,main provider away for work,female,...,2011,9,2,3,unmarried/never married,NaN,99,2,yes,kprural
22,1111000104,11110001,kp,rural,chitral,00B,4,nephew\niece,main provider away for work,male,...,2009,7,20,5,unmarried/never married,NaN,99,2,yes,kprural
23,1111000104,11110001,kp,rural,chitral,00B,5,father/mother,main provider away for work,male,...,1945,0,0,69,widow/widower,NaN,98,98,yes,kprural
24,1111000105,11110001,kp,rural,chitral,00B,1,head,NaN,male,...,1971,0,0,43,currently married,2.0,98,98,yes,kprural
25,1111000105,11110001,kp,rural,chitral,00B,2,spouse,main economic provider,female,...,1979,0,0,35,currently married,1.0,99,99,yes,kprural
26,1111000105,11110001,kp,rural,chitral,00B,3,son/daughter,main economic provider,male,...,1998,0,0,16,unmarried/never married,NaN,1,2,yes,kprural
27,1111000105,11110001,kp,rural,chitral,00B,4,son/daughter,main economic provider,male,...,2000,0,0,14,unmarried/never married,NaN,1,2,yes,kprural
28,1111000105,11110001,kp,rural,chitral,00B,5,son/daughter,main economic provider,male,...,2003,0,0,11,unmarried/never married,NaN,1,2,yes,kprural
29,1111000105,11110001,kp,rural,chitral,00B,6,son/daughter,main economic provider,female,...,2005,6,0,9,unmarried/never married,NaN,1,2,yes,kprural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513931,6112300810,61123008,punjab,urban,islamabad,00B,11,nephew\niece,main economic provider,male,...,1997,0,0,17,unmarried/never married,NaN,9,10,yes,punjaburban
513932,6112300810,61123008,punjab,urban,islamabad,00B,12,nephew\niece,main economic provider,male,...,1999,0,0,15,unmarried/never married,NaN,9,10,yes,punjaburban
513933,6112300810,61123008,punjab,urban,islamabad,00B,13,nephew\niece,main economic provider,male,...,2002,0,0,12,unmarried/never married,NaN,9,10,yes,punjaburban
513934,6112300810,61123008,punjab,urban,islamabad,00B,14,nephew\niece,main economic provider,female,...,2004,0,0,10,unmarried/never married,NaN,9,10,yes,punjaburban
513935,6112300810,61123008,punjab,urban,islamabad,00B,15,nephew\niece,main economic provider,female,...,2008,0,0,6,unmarried/never married,NaN,9,10,yes,punjaburban
513936,6112300811,61123008,punjab,urban,islamabad,00B,1,head,NaN,male,...,1945,0,0,69,currently married,2.0,98,98,yes,punjaburban
513937,6112300811,61123008,punjab,urban,islamabad,00B,2,spouse,main economic provider,female,...,1954,0,0,60,currently married,1.0,99,99,yes,punjaburban
513938,6112300812,61123008,punjab,urban,islamabad,00B,1,head,NaN,male,...,1965,0,0,49,currently married,2.0,98,98,yes,punjaburban
513939,6112300812,61123008,punjab,urban,islamabad,00B,2,spouse,main economic provider,female,...,1975,0,0,39,currently married,1.0,98,98,yes,punjaburban
513940,6112300812,61123008,punjab,urban,islamabad,00B,3,son/daughter,main economic provider,female,...,1995,0,0,19,unmarried/never married,NaN,1,2,yes,punjaburban
513941,6112300812,61123008,punjab,urban,islamabad,00B,4,son/daughter,family elder,male,...,1998,0,0,16,unmarried/never married,NaN,1,2,yes,punjaburban
513942,6112300812,61123008,punjab,urban,islamabad,00B,5,son/daughter,main economic provider,female,...,2001,0,0,13,unmarried/never married,NaN,1,2,yes,punjaburban
513943,6112300812,61123008,punjab,urban,islamabad,00B,6,son/daughter,main economic provider,female,...,2003,0,0,11,unmarried/never married,NaN,1,2,yes,punjaburban
513944,6112300812,61123008,punjab,urban,islamabad,00B,7,son/daughter,main economic provider,male,...,2009,0,0,5,unmarried/never married,NaN,1,2,yes,punjaburban
513945,1111000101,11110001,kp,rural,chitral,00B,1,head,NaN,male,...,1933,0,0,81,currently married,2.0,98,98,yes,kprural
513946,6112300810,61123008,punjab,urban,islamabad,00B,10,brother/sister-in-law,main economic provider,female,...,1967,0,0,47,currently married,9.0,99,99,yes,punjaburban
513947,6112300810,61123008,punjab,urban,islamabad,00B,11,nephew\niece,main economic provider,male,...,1997,0,0,17,unmarried/never married,NaN,9,10,yes,punjaburban
513948,6112300810,61123008,punjab,urban,islamabad,00B,12,nephew\niece,main economic provider,male,...,1999,0,0,15,unmarried/never married,NaN,9,10,yes,punjaburban
513949,6112300810,61123008,punjab,urban,islamabad,00B,13,nephew\niece,main economic provider,male,...,2002,0,0,12,unmarried/never married,NaN,9,10,yes,punjaburban
513950,6112300810,61123008,punjab,urban,islamabad,00B,14,nephew\niece,main economic provider,female,...,2004,0,0,10,unmarried/never married,NaN,9,10,yes,punjaburban
513951,6112300810,61123008,punjab,urban,islamabad,00B,15,nephew\niece,main economic provider,female,...,2008,0,0,6,unmarried/never married,NaN,9,10,yes,punjaburban
513952,6112300811,61123008,punjab,urban,islamabad,00B,1,head,NaN,male,...,1945,0,0,69,currently married,2.0,98,98,yes,punjaburban
513953,6112300811,61123008,punjab,urban,islamabad,00B,2,spouse,main economic provider,female,...,1954,0,0,60,currently married,1.0,99,99,yes,punjaburban
513954,6112300812,61123008,punjab,urban,islamabad,00B,1,head,NaN,male,...,1965,0,0,49,currently married,2.0,98,98,yes,punjaburban
513955,6112300812,61123008,punjab,urban,islamabad,00B,2,spouse,main economic provider,female,...,1975,0,0,39,currently married,1.0,98,98,yes,punjaburban
513956,6112300812,61123008,punjab,urban,islamabad,00B,3,son/daughter,main economic provider,female,...,1995,0,0,19,unmarried/never married,NaN,1,2,yes,punjaburban
513957,6112300812,61123008,punjab,urban,islamabad,00B,4,son/daughter,family elder,male,...,1998,0,0,16,unmarried/never married,NaN,1,2,yes,punjaburban
513958,6112300812,61123008,punjab,urban,islamabad,00B,5,son/daughter,main economic provider,female,...,2001,0,0,13,unmarried/never married,NaN,1,2,yes,punjaburban
513959,6112300812,61123008,punjab,urban,islamabad,00B,6,son/daughter,main economic provider,female,...,2003,0,0,11,unmarried/never married,NaN,1,2,yes,punjaburban
513960,6112300812,61123008,punjab,urban,islamabad,00B,7,son/daughter,main economic provider,male,...,2009,0,0,5,unmarried/never married,NaN,1,2,yes,punjaburban

In [95]:
merge_columns(df, "province", "region")

<class 'str'> <class 'str'>
0    kprural
1    kprural
2    kprural
3    kprural
4    kprural
Name: concatenated, dtype: object

In [96]:
def my_add(c1,c2):
    return (c1+c2)

def my_subtract(c1,c2):
    return (c1-c2)

def my_multiply(c1,c2):
    return (c1*c2)

def my_divide(c1,c2):
    return c1/c2


def merge_columns(df, col_name1, col_name2):
    if(df[col_name1].dtype != "object" and df[col_name2].dtype != "object" ):
        print("Press 1 for addition")
        print("Press 2 for subtraction")
        print("Press 3 for division")
        print("Press 4 for multiplication")
        option = input("Enter your choice: ")
        
        if(option=='1'):
            new_col=my_add(col_name1, col_name2)
            df['add_operation']=new_col
            print(df.head())
        elif(option=='2'):
            new_col=my_subtract(col_name1, col_name2)
            df['subtract_operation']=new_col
            print(df.head())
        elif(option=='3'):
            new_col=my_multiply(col_name1, col_name2)
            df['multiply_operation']=new_col
            print(df.head())
        elif(option=='4'):
            new_col=my_divide(col_name1, col_name2)
            df['divide_operation']=new_col
            print(df.head())
        else:
            print("Wrong Input")
    elif(df[col_name1].dtype == "object" and df[col_name2].dtype == "object" ):
        df["concatenated"]= df[col_name1]+df[col_name2]
        print(df['concatenated'].head())
    else:
        print("Error: Type should be numeric")

In [61]:
import pandas as pd
df=pd.read_excel("C:/Users/Zohran/Documents/R/sec_b.xlsx")
df['new']= df['province'] + df['region']
print(df['new'].head())

0    kprural
1    kprural
2    kprural
3    kprural
4    kprural
Name: new, dtype: object