In [9]:
import pandas as pd

def audit_report(df):
    print("**************************AUDIT REPORT***********************")
    print ("-----------------Number of Columns--------------------------")
    print(len(df.columns))
    print ("-----------------Number of Records--------------------------")
    print(len(df.index))
    print ("-----------------Columns Data Types-------------------------")
    print(df.dtypes)
    print ("-----------------Number of Missing cells--------------------")
    print(df.isnull().sum())
    print ("-----------------Number of duplicate rows--------------------")    
    print(df.duplicated().sum())
    print ("-----------------Memory Taken By Dataframe-------------------") 
    print((df.memory_usage(deep=True).sum())/1048576, "MB" )
    print ("-----------------------Warning-------------------------------")
    print("Max missing values are in column:",df.count().idxmin())
    print ("-------------------Range of columns--------------------------")
    print(df.describe().loc[['max','min']])
    print("--------------------Unique Classes in columns-----------------")
    for i in df:
        if(df[i].dtypes=="object"):
            print( df[i].unique())
        
    return;

In [13]:
def main_function():
    user_file_name = "C:/Users/Zohran/Documents/R/sec_b.xlsx"#input("Enter full file path")
    df = pd.read_excel(user_file_name)
    audit_report(df)
    merge_columns(df, "sbq09", "sbq10")
    sort_column(df,"sbq09")
    return;

In [14]:
main_function()

**************************AUDIT REPORT***********************
-----------------Number of Columns--------------------------
20
-----------------Number of Records--------------------------
513961
-----------------Columns Data Types-------------------------
hhcode        int64
psu           int64
province     object
region       object
district     object
sec          object
idc           int64
sbq02        object
sbq03        object
sbq04        object
sbq05        object
sbq61         int64
sbq62         int64
sbq63         int64
age           int64
sbq07        object
sbq08       float64
sbq09         int64
sbq10         int64
sbq11        object
dtype: object
-----------------Number of Missing cells--------------------
hhcode           0
psu              0
province         0
region           0
district         0
sec              0
idc              0
sbq02            0
sbq03        78642
sbq04            0
sbq05            0
sbq61            0
sbq62            0
sbq63            0
age              0
sbq07            0
sbq08       321765
sbq09            0
sbq10            0
sbq11            0
dtype: int64
-----------------Number of duplicate rows--------------------
16
-----------------Memory Taken By Dataframe-------------------
358.49631690979004 MB
-----------------------Warning-------------------------------
Max missing values are in column: sbq08
-------------------Range of columns--------------------------
           hhcode         psu   idc   sbq61  sbq62  sbq63   age  sbq08  sbq09  \
max  6.112301e+09  61123008.0  60.0  2015.0   12.0   31.0  99.0   99.0   99.0
min  1.111000e+09  11110001.0   1.0  1894.0    0.0    0.0   0.0    1.0    1.0

     sbq10
max   99.0
min    1.0
--------------------Unique Classes in columns-----------------
['kp' 'punjab' 'sindh' 'balochistan']
['rural' 'urban']
['chitral' 'upper dir' 'lower dir' 'swat' 'shangla' 'buner' 'malakand'
 'kohistan' 'mansehra' 'batagram' 'abbottabad' 'haripur' 'tor ghar'
 'mardan' 'swabi' 'charsadda' 'peshawar' 'nowshera' 'kohat' 'hangu'
 'karak' 'bannu' 'lakki marwat' 'd. i. khan' 'tank' 'attock' 'rawalpindi'
 'jhelum' 'chakwal' 'sargodha' 'bhakkar' 'khushab' 'mianwali' 'faisalabad'
 'chiniot' 'jhang' 't.t. singh' 'gujranwala' 'hafizabad' 'gujrat'
 'mandi bahauddin' 'sialkot' 'narowal' 'lahore' 'kasur' 'sheikhupura'
 'nankana sahib' 'okara' 'sahiwal' 'pakpattan' 'vehari' 'multan' 'lodhran'
 'khanewal' 'd. g. khan' 'rajanpur' 'layyah' 'muzaffargarh' 'bahawalpur'
 'bahawalnagar' 'rahim yar khan' 'jacobabad' 'kashmore' 'shikarpur'
 'larkana' 'shahdadkot' 'sukkur' 'ghotki' 'khairpur' 'naushahro feroze'
 'shaheed benazir abad' 'dadu' 'jamshoro' 'hyderabad' 'tando allah yar'
 'tando mohammad khan' 'matiari' 'badin' 'thatta' 'sujawal' 'sanghar'
 'mirpur khas' 'umer kot' 'tharparkar' 'karachi' 'quetta' 'pishin'
 'killa abdullah' 'chagai' 'nushki' 'loralai' 'barkhan' 'musakhel'
 'killa saifullah' 'zhob' 'sheerani' 'sibbi' 'harnai' 'ziarat' 'kohlu'
 'dera bugti' 'bolan/ kachhi' 'jaffarabad' 'nasirabad/ tamboo'
 'jhal magsi' 'kalat' 'mastung' 'khuzdar' 'awaran' 'kharan' 'washuk'
 'lasbela' 'gwadar' 'islamabad']
['00B']
['head' 'spouse' 'son/daughter' 'son/daughter-in-law' 'grand child'
 'brother/sister-in-law' 'nephew\\niece' 'father/mother' 'brother\\sister'
 'uncle/aunty' 'father/mother-in-law' 'others' 'grand father/mother'
 'servants/their relatives']
[nan 'family elder' 'main provider away for work' 'main economic provider'
 'is oldest male in the house?' 'others']
['male' 'female']
['present' 'temporarily absent at the time of enumeration']
['currently married' 'unmarried/never married' 'widow/widower'
 'nikah has been solemnised but the rukhsati has  not taken place'
 'divorced']
['yes' 'no']
Press 1 for addition
Press 2 for subtraction
Press 3 for division
Press 4 for multiplication
Press 5 for maximum
Press 6 for minimum
Enter your choice: 5
       hhcode       psu province region district  sec  idc  \
0  1111000101  11110001       kp  rural  chitral  00B    1
1  1111000101  11110001       kp  rural  chitral  00B    2
2  1111000101  11110001       kp  rural  chitral  00B    3
3  1111000101  11110001       kp  rural  chitral  00B    4
4  1111000101  11110001       kp  rural  chitral  00B    5

                 sbq02         sbq03   sbq04  ... sbq61  sbq62  sbq63  age  \
0                 head           NaN    male  ...  1933      0      0   81
1               spouse  family elder  female  ...  1944      0      0   70
2         son/daughter  family elder    male  ...  1970      0      0   44
3  son/daughter-in-law  family elder  female  ...  1977      0      0   37
4          grand child  family elder    male  ...  2002      0      0   12

                     sbq07 sbq08  sbq09  sbq10  sbq11 max_operation
0        currently married   2.0     98     98    yes            98
1        currently married   1.0     98     98    yes            98
2        currently married   4.0      1      2    yes             2
3        currently married   3.0     99     99    yes            99
4  unmarried/never married   NaN      3      4    yes             4

[5 rows x 21 columns]
            hhcode       psu province region      district  sec  idc  \
256980  2811007402  28110074   punjab  rural    d. g. khan  00B    3
297445  2921003410  29210034   punjab  rural  bahawalnagar  00B    3
297437  2921003409  29210034   punjab  rural  bahawalnagar  00B    2
297431  2921003407  29210034   punjab  rural  bahawalnagar  00B    5
297430  2921003407  29210034   punjab  rural  bahawalnagar  00B    4
297429  2921003407  29210034   punjab  rural  bahawalnagar  00B    3
297424  2921003406  29210034   punjab  rural  bahawalnagar  00B    3
297421  2921003405  29210034   punjab  rural  bahawalnagar  00B    3
297446  2921003410  29210034   punjab  rural  bahawalnagar  00B    4
297413  2921003404  29210034   punjab  rural  bahawalnagar  00B    3
297407  2921003403  29210034   punjab  rural  bahawalnagar  00B    3
297402  2921003402  29210034   punjab  rural  bahawalnagar  00B    2
297400  2921003401  29210034   punjab  rural  bahawalnagar  00B   10
297399  2921003401  29210034   punjab  rural  bahawalnagar  00B    9
297398  2921003401  29210034   punjab  rural  bahawalnagar  00B    8
297397  2921003401  29210034   punjab  rural  bahawalnagar  00B    7
297396  2921003401  29210034   punjab  rural  bahawalnagar  00B    6
297409  2921003403  29210034   punjab  rural  bahawalnagar  00B    5
297447  2921003410  29210034   punjab  rural  bahawalnagar  00B    5
297448  2921003410  29210034   punjab  rural  bahawalnagar  00B    6
297463  2921003413  29210034   punjab  rural  bahawalnagar  00B    3
297493  2921003502  29210035   punjab  rural  bahawalnagar  00B    3
297488  2921003416  29210034   punjab  rural  bahawalnagar  00B    5
297487  2921003416  29210034   punjab  rural  bahawalnagar  00B    4
297486  2921003416  29210034   punjab  rural  bahawalnagar  00B    3
297482  2921003415  29210034   punjab  rural  bahawalnagar  00B    8
297481  2921003415  29210034   punjab  rural  bahawalnagar  00B    7
297480  2921003415  29210034   punjab  rural  bahawalnagar  00B    6
297479  2921003415  29210034   punjab  rural  bahawalnagar  00B    5
297478  2921003415  29210034   punjab  rural  bahawalnagar  00B    4
...            ...       ...      ...    ...           ...  ...  ...
87232   1711001508  17110015       kp  rural    d. i. khan  00B    3
351867  3211001502  32110015    sindh  rural        sukkur  00B    7
351882  3211001503  32110015    sindh  rural        sukkur  00B   10
351886  3211001503  32110015    sindh  rural        sukkur  00B   14
351912  3211001506  32110015    sindh  rural        sukkur  00B    7
87196   1711001503  17110015       kp  rural    d. i. khan  00B    2
351930  3211001508  32110015    sindh  rural        sukkur  00B   11
87194   1711001502  17110015       kp  rural    d. i. khan  00B    6
351830  3211001414  32110014    sindh  rural        sukkur  00B    2
351824  3211001413  32110014    sindh  rural        sukkur  00B    2
351823  3211001413  32110014    sindh  rural        sukkur  00B    1
87255   1711001515  17110015       kp  rural    d. i. khan  00B    2
87283   1711001603  17110016       kp  rural    d. i. khan  00B    7
87278   1711001603  17110016       kp  rural    d. i. khan  00B    2
87273   1711001602  17110016       kp  rural    d. i. khan  00B    2
87272   1711001602  17110016       kp  rural    d. i. khan  00B    1
87271   1711001601  17110016       kp  rural    d. i. khan  00B    7
87270   1711001601  17110016       kp  rural    d. i. khan  00B    6
351788  3211001409  32110014    sindh  rural        sukkur  00B    6
86987   1711001302  17110013       kp  rural    d. i. khan  00B    2
351790  3211001409  32110014    sindh  rural        sukkur  00B    8
87268   1711001601  17110016       kp  rural    d. i. khan  00B    4
87267   1711001601  17110016       kp  rural    d. i. khan  00B    3
87266   1711001601  17110016       kp  rural    d. i. khan  00B    1
351801  3211001411  32110014    sindh  rural        sukkur  00B    1
351802  3211001411  32110014    sindh  rural        sukkur  00B    2
87261   1711001516  17110015       kp  rural    d. i. khan  00B    2
351810  3211001412  32110014    sindh  rural        sukkur  00B    2
351793  3211001410  32110014    sindh  rural        sukkur  00B    2
91946   1721000413  17210004       kp  rural          tank  00B    1

                        sbq02                   sbq03   sbq04  ... sbq61  \
256980           son/daughter  main economic provider    male  ...  2010
297445           son/daughter  main economic provider  female  ...  2000
297437           son/daughter            family elder    male  ...  1965
297431           son/daughter            family elder    male  ...  2010
297430           son/daughter            family elder  female  ...  2008
297429           son/daughter            family elder  female  ...  2006
297424           son/daughter            family elder    male  ...  1964
297421           son/daughter  main economic provider    male  ...  2007
297446           son/daughter  main economic provider    male  ...  2002
297413           son/daughter                  others  female  ...  1990
297407           son/daughter            family elder    male  ...  1985
297402           son/daughter            family elder    male  ...  1989
297400           son/daughter  main economic provider    male  ...  1999
297399           son/daughter  main economic provider    male  ...  1997
297398           son/daughter  main economic provider  female  ...  1996
297397           son/daughter  main economic provider  female  ...  1994
297396           son/daughter  main economic provider    male  ...  1992
297409           son/daughter            family elder    male  ...  1987
297447           son/daughter  main economic provider  female  ...  2005
297448           son/daughter  main economic provider    male  ...  2007
297463           son/daughter  main economic provider    male  ...  2009
297493           son/daughter  main economic provider  female  ...  1998
297488           son/daughter  main economic provider    male  ...  2011
297487           son/daughter  main economic provider    male  ...  2008
297486           son/daughter  main economic provider  female  ...  2004
297482           son/daughter            family elder    male  ...  1995
297481           son/daughter            family elder    male  ...  2008
297480           son/daughter            family elder  female  ...  2006
297479           son/daughter            family elder    male  ...  2004
297478           son/daughter            family elder    male  ...  2002
...                       ...                     ...     ...  ...   ...
87232            nephew\niece  main economic provider    male  ...  2008
351867    son/daughter-in-law            family elder  female  ...  1986
351882    son/daughter-in-law            family elder  female  ...  1994
351886    son/daughter-in-law            family elder  female  ...  1994
351912    son/daughter-in-law            family elder  female  ...  1995
87196                  spouse  main economic provider  female  ...  1982
351930    son/daughter-in-law            family elder  female  ...  1992
87194            son/daughter            family elder    male  ...  2015
351830                 spouse  main economic provider  female  ...  1972
351824                 spouse            family elder  female  ...  1989
351823                   head                     NaN    male  ...  1988
87255                  spouse  main economic provider  female  ...  1988
87283   brother/sister-in-law  main economic provider  female  ...  1988
87278                  spouse  main economic provider  female  ...  1981
87273                  spouse            family elder  female  ...  1973
87272                    head                     NaN    male  ...  1966
87271          brother\sister  main economic provider  female  ...  2005
87270          brother\sister  main economic provider  female  ...  2002
351788  brother/sister-in-law            family elder  female  ...  1994
86987                  spouse  main economic provider  female  ...  1960
351790  brother/sister-in-law            family elder  female  ...  1994
87268            son/daughter  main economic provider  female  ...  2015
87267            son/daughter  main economic provider  female  ...  2012
87266                    head                     NaN  female  ...  1995
351801                   head                     NaN    male  ...  1972
351802                 spouse            family elder  female  ...  1979
87261                  spouse  main economic provider  female  ...  1979
351810                 spouse  main economic provider  female  ...  1986
351793                 spouse            family elder  female  ...  1958
91946                    head                     NaN  female  ...  1988

        sbq62  sbq63  age                    sbq07 sbq08  sbq09  sbq10  sbq11  \
256980      8     17    4  unmarried/never married   NaN      1      2    yes
297445      0      0   14  unmarried/never married   NaN      1      2    yes
297437      0      0   49        currently married   3.0      1     98    yes
297431      4      0    4  unmarried/never married   NaN      1      2    yes
297430      0      0    6  unmarried/never married   NaN      1      2    yes
297429      0      0    8  unmarried/never married   NaN      1      2    yes
297424      0      0   50        currently married   4.0      1      2    yes
297421     10     18    6  unmarried/never married   NaN      1      2    yes
297446      0      0   12  unmarried/never married   NaN      1      2    yes
297413      6     23   24  unmarried/never married   NaN      1      2    yes
297407      0      0   29            widow/widower   NaN      1      2    yes
297402      0      0   25        currently married   3.0      1     98    yes
297400      0      0   15  unmarried/never married   NaN      1      2    yes
297399      0      0   17  unmarried/never married   NaN      1      2    yes
297398      0      0   18  unmarried/never married   NaN      1      2    yes
297397      0      0   20  unmarried/never married   NaN      1      2    yes
297396      0      0   22  unmarried/never married   NaN      1      2    yes
297409      0      0   27        currently married   6.0      1      2    yes
297447      0      0    9  unmarried/never married   NaN      1      2    yes
297448      0      0    7  unmarried/never married   NaN      1      2    yes
297463      3     21    5  unmarried/never married   NaN      1      2    yes
297493      0      0   16  unmarried/never married   NaN      1      2    yes
297488      9     18    3  unmarried/never married   NaN      1      2    yes
297487      0      0    6  unmarried/never married   NaN      1      2    yes
297486      0      0   10  unmarried/never married   NaN      1      2    yes
297482      0      0   19        currently married   9.0      1      2    yes
297481      0      0    6  unmarried/never married   NaN      1      2    yes
297480      0      0    8  unmarried/never married   NaN      1      2    yes
297479      0      0   10  unmarried/never married   NaN      1      2    yes
297478      0      0   12  unmarried/never married   NaN      1      2    yes
...       ...    ...  ...                      ...   ...    ...    ...    ...
87232       0      0    6  unmarried/never married   NaN     99     98    yes
351867      0      0   28        currently married   6.0     99     99    yes
351882      0      0   20        currently married   9.0     99     99    yes
351886      0      0   20        currently married  13.0     99     99    yes
351912      0      0   19        currently married   6.0     99     99    yes
87196       4      2   32        currently married   1.0     99     99    yes
351930      0      0   22        currently married  10.0     99     99    yes
87194       2      0    0  unmarried/never married   NaN     99      1    yes
351830      0      0   42        currently married   1.0     99     98    yes
351824      0      0   25        currently married   1.0     99     99    yes
351823      1      1   26        currently married   2.0     99     99    yes
87255       0      0   26        currently married   1.0     99     99    yes
87283       0      0   26        currently married   6.0     99     99    yes
87278       0      0   33        currently married   1.0     99     99    yes
87273       1      1   42        currently married   1.0     99     99    yes
87272       3      1   49        currently married   2.0     99     99    yes
87271       0      0    9  unmarried/never married   NaN     99      5    yes
87270       0      0   12  unmarried/never married   NaN     99      5    yes
351788      0      0   20        currently married   5.0     99     99    yes
86987       0      0   54        currently married   1.0     99     99    yes
351790      0      0   20        currently married   7.0     99     99    yes
87268       3     20    0  unmarried/never married   NaN     99      1    yes
87267      10      3    2  unmarried/never married   NaN     99      1    yes
87266       0      0   19        currently married  99.0     99      5    yes
351801      0      0   42        currently married   2.0     99     99    yes
351802      0      0   35        currently married   1.0     99     99    yes
87261       0      0   35        currently married   1.0     99     99    yes
351810      0      0   28        currently married   1.0     99     99    yes
351793      1      1   56        currently married   1.0     99     99    yes
91946       8     27   26        currently married  99.0     99     99    yes

       max_operation
256980             2
297445             2
297437            98
297431             2
297430             2
297429             2
297424             2
297421             2
297446             2
297413             2
297407             2
297402            98
297400             2
297399             2
297398             2
297397             2
297396             2
297409             2
297447             2
297448             2
297463             2
297493             2
297488             2
297487             2
297486             2
297482             2
297481             2
297480             2
297479             2
297478             2
...              ...
87232             99
351867            99
351882            99
351886            99
351912            99
87196             99
351930            99
87194             99
351830            99
351824            99
351823            99
87255             99
87283             99
87278             99
87273             99
87272             99
87271             99
87270             99
351788            99
86987             99
351790            99
87268             99
87267             99
87266             99
351801            99
351802            99

In [7]:
def my_add(c1,c2):
    return (c1+c2)

def my_subtract(c1,c2):
    return (c1-c2)

def my_multiply(c1,c2):
    return (c1*c2)

def my_divide(c1,c2):
    return c1/c2


def merge_columns(df, col_name1, col_name2):
    if(df[col_name1].dtype != "object" and df[col_name2].dtype != "object" ):
        print("Press 1 for addition")
        print("Press 2 for subtraction")
        print("Press 3 for division")
        print("Press 4 for multiplication")
        print("Press 5 for maximum")
        print("Press 6 for minimum")
        option = input("Enter your choice: ")
        
        if(option=='1'):
            new_col=my_add(col_name1, col_name2)
            df['add_operation']=new_col
            print(df.head())
        elif(option=='2'):
            new_col=my_subtract(col_name1, col_name2)
            df['subtract_operation']=new_col
            print(df.head())
        elif(option=='3'):
            new_col=my_multiply(col_name1, col_name2)
            df['multiply_operation']=new_col
            print(df.head())
        elif(option=='4'):
            new_col=my_divide(col_name1, col_name2)
            df['divide_operation']=new_col
            print(df.head())
        elif(option=='5'):
            new_col=df[[col_name1, col_name2]].values.max(1)
            df['max_operation']=new_col
            print(df.head())
        elif(option=='6'):
            new_col=df[[col_name1, col_name2]].values.min(1)
            df['min_operation']=new_col
            print(df.head())
        else:
            print("Wrong Input")
    elif(df[col_name1].dtype == "object" and df[col_name2].dtype == "object" ):
        df["concatenated"]= df[col_name1]+' '+df[col_name2]
        print(df.head())
    else:
        print("Error: Type should be numeric")

In [12]:
def sort_column(df,col1):
    df.sort_values(col1,inplace=True)
    print(df)
    return;